@import '_variables.scss';

body {
  background-color: rgb(228, 231, 237);
}
.form {
    border: 3px solid #f1f1f1;
  }

  .username, .password {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .login-btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

    &:hover {
        opacity: 0.8;
    }
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;
    .search{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      max-width: 600px;
      margin: 8px 16px;
      align-items: center;  
      &-input{
        width: 65%;
        padding: 12px 20px;
        //margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      &-btn{
        min-width: 5.8em;
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        //margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        //width: 100%;
        &:hover{
          opacity: 0.8;
        }
      }
    }

    .logout-btn {
      min-width: 5.8em;
      padding: 12px 20px;
      background-color: #f44336;
      color: white;
      margin: 3% 0px 3% auto;
      //margin-left: auto;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 6%;
      &:hover {
          opacity: 0.8;
      }
    }
  }

.container {
    padding: 16px;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 100px;
}

.error {
  font-size: 1em;
  font-weight: 700;
  padding: 0px 8px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  color: red;
}

.weather {
  padding: 16px 16px 0 0px;
  margin: 12px;
  display: flex;
  //flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  &-details {
    //display: flex;
    //flex-direction: column;
    //align-items: stretch;
    flex: 2;
    border: 1px solid $borderColor;
    border-radius: 8px;
    &-name {
      font-size: 1.4em;
      font-weight: 700;
      padding: 8px;
      text-align: center;
    }
    &-temp {
      font-size: 2.2em;
      font-weight: 700;
      text-align: center;
    }
    &-status, &-low, &-high {
      font-size: 1.4em;
      font-weight: 700;
      text-align: center;
    }
    &-hl {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 8px;
    }
    &-specs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 8px;
      
    }
    &-feels, &-wind, &-humidity, &-pressure, &-clouds, &-visibility, &-sunrise, &-sunset {
      border: 1px solid $borderColor;
      border-radius: 8px;
      padding: 8px;
      margin: 8px;
      font-size: 1em;
      font-weight: 700;
    }
    
  }
  &-context {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    gap: 12px;
    &-item{
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: 1px solid $borderColor;
      border-radius: 8px;
      &-title{
        font-size: 1.1em;
        font-weight: 700;
      }
      &:hover > p{
        cursor: pointer;
        display: block;
        margin: -2px;
        color: red;
      }
      &:active > p{
        cursor: pointer;
        display: block;
        margin: -2px;
        color: red;
      }
      &-title{
        cursor: pointer;
      }
    }
  }
}
p {
  display: none;
}


h1 {
  margin: 8px;
}

a {
  text-decoration: none;
}

a:visited{
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  //background-color: #f1f1f1;
  color: black;
  text-align: center;
}